
<div class="container">
<%= bootstrap_form_for(@question) do |f| %>
	<div class="row" style="overflow-x:hidden">
		<div class="col-md-10" style="padding-right: 0 !important;  overflow-x:hidden;width: 80%;">
		<%= f.text_field :title %>
		</div>
		<div class="col-md-2" style="position:fixed; left:74vw; top: 12.5vw;">
		
		<%= select_tag(:status, options_for_select([["Urgent", 1], ["Not Urgent", 2]])) %> 
	
		</div>
	</div>
	<p>
		<%= f.text_area :body %> 
	</p>
	
	<p>
		<%= f.text_field :tag_list %>
	</p>
	<br>
	<p>
		<%= f.submit %>
	</p>
<% end %>
</div>

<style>
	.container{
		text-align: left !important;
	}
</style>