
<% @user_questions.each do |question| %>
	<div class="question_list">
		<div class="row">
		<div class="col-sm-8">
		<h2 class="title" style="color:black !important;"><%= link_to question.title, question, :style=> 'color:black;' %></h2>
		<p> <%= truncate(question.body, :length => 250) %></p>
		<p class="date"><%= time_ago_in_words(question.created_at) %> ago</p>
		<br>
		<p>Tags:
			<% question.tag_list.each do |t| %>
				<button type="button" class="btn btn-primary"> <%= link_to t, tag_path(t) %> </button> 
			<% end %>
		</p>
		</div>
		<div class="col-sm-4">
			<%= question.user.email %>
			<span class="skype-button rounded" data-contact-id="davidhan321" data-text=""></span>
		</div>
		</div>
	</div>
	<hr>
<% end %>